/*FOOTER*/
footer{position: relative;
bottom: none;
margin: auto;
transform: translateY(-25%);
visibility: visible;
z-index: -1;
margin-: 5%;
}

.curvy{
    background-color:  #E37151;
    border-top-left-radius: 90%;
    border-top-right-radius: 90%;
    align-items: center;
   padding: 6em 0;
    color: #fff;

}
.privacy1{
    background-color:  #E37151;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4em 0;
    color: #fff;
    line-height: 27px;}

    .privacy1 h3 {
        font-size: 44px;
        line-height: 48px;
        color: #fff;
        text-align: center;
        margin: 0;
    } 
    
    .privacy1 p {
        font-size: 17px;
    line-height: 20px;
    padding-top: .25em;
    padding-bottom: .25em;

    }

   

    .DuckDuckGo{
    
        background-color: #612A19;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    opacity: 0.6;
    transition: 0.3s;
    margin-top: 25px;
    padding: 12px 16px;
    border-radius: 12px;
    font-weight: 600;
    cursor:pointer;
    position: relative;
    right:15px;


       }
       .DuckDuckGo:hover {opacity: 1}

       .monster-image {
        background-color: #E37151;
     
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    body {
      background-color: #f7f7f7;
      font-family: Arial, Helvetica, sans-serif;
      width: 100%;
  }



/* box-section */

    .info__title {font-size: 16px;
    font-weight: bolder;
  margin-top: 1PX;
margin-right: 55px;
bottom: 40px;
position: relative;}
                     
#box-box{position: relative;
bottom: 70px;
margin-top: 40px;
margin-right: 60px;}

    .content-info {
    text-align: center;
    order: 4;
    color: #353748;
    hyphens: auto;}
    
    .info__item {
    box-sizing: border-box;
    width: 330px;

    min-height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 17.5px;
    padding: 20px 25px;
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 0px 10px 16px -8px rgba(0,0,0,0.2)}


    .info__items {
    display: flex;
    position: relative;
    justify-content: center;
    min-height: 340px;
    margin: 40px auto 0;
    padding: 0 40px}

.items-wrap {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1140px;
    min-height: 340px }


.item__icon {
    width: 110px;
    height: 100px;
    margin: 30px;
    display: block}

.item__title {
    font-size: 22px;
    margin-bottom: 10px;
    line-height: 1.1;
    color: inherit
}
.item__subtitle {
    font-size: 17px;
    line-height: 1.5;
    color: inherit;
    width: 100%
}

**************

body {
    background-color: rgb(148, 146, 146);
    overflow-x: hidden;
}
.navbarsection{
width: 100%;
margin: 20px auto;
position: relative;
}

.navbar_container a {
text-decoration: none;
margin: 4px;
}

ul {
list-style: none;
padding: 0px;

}

.navbar_container {
width: 30%;
float: right;
text-align: center;
}

.navlink {
display: flex;
flex-direction: row;
margin: 15px;
height: 20px;
font-size: 14px;
}

.dropdown-social,
.dropdown-settings {
position: relative;
display: inline-block;
margin-right: 8px;
padding: 0 35px;
}

.dropdown-content-social {
display: none;
position: absolute;
background-color: #f9f9f9;
width: 130px;
height: 155px;
box-shadow: 0 2.5px 20px 0 rgba(0, 0, 0, 0.15);
left: 0px;
padding: 0px 0px;

z-index: 250;
margin-top: 8px;
vertical-align: baseline;
}

.dropdown-content-settings {
display: none;
position: absolute;
background-color: #f9f9f9;
width: 180px;
height: 932px;
box-shadow: 0 2.5px 20px 0 rgba(0, 0, 0, 0.15);
left: 0px;
padding: 0px 0px;

z-index: 250;
margin-top: 8px;
vertical-align: baseline;
}
.dropdown-content-settings h2, li{
margin-left: 12px;
text-align: left;
}

.dropdown-social,
.dropdown-settings {
position: relative;
display: inline-block;
margin-right: 8px;
}

.dropdown-content-social {
display: none;
position: absolute;
background-color: #f9f9f9;
width: 130px;
height: 155px;
box-shadow: 0 2.5px 20px 0 rgba(0, 0, 0, 0.15);
left: 0px;
padding: 0px 0px;

z-index: 250;
margin-top: 8px;
vertical-align: baseline;
}

.dropdown-content-settings {
display: none;
position: absolute;
background-color: #f9f9f9;
width: 180px;
height: 932px;
box-shadow: 0 2.5px 20px 0 rgba(0, 0, 0, 0.15);
left: 0px;
padding: 0px 0px;

z-index: 250;
margin-top: 8px;
vertical-align: baseline;
}

.dropdown-content-settings h2, li{
margin-left: 12px;
}

.dropdown-social:hover .dropdown-content-social {
display: block;
}

.dropdown-settings:hover .dropdown-content-settings {
display: block;
}

.dropdown-settings h2{
  font-size: 0.75em;
  color: #888;
}

.navbar_container a{
  text-decoration: none;
  color: #666
}


.photo--duck {
    
    position: relative;
    margin:20px;
    margin-left: 40%;
    
}

*************

#search {
  grid-area: search;
  display: inline-flex;
  align-self: center;
}

#searchbar {
  width: 50%;
  height: 40px;
  border:1px solid rgba(170, 170, 170, 0.5);
  border-right: none;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  margin-left: 22%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 1.1em;
    font-weight: normal;
    padding-left: 20px;
    box-shadow: 0 2.5px 15px 0 rgba(0, 0, 0, 0.10);
}
#search-btn {
  width: 5%;
  height: 44px;
  border: none;
  border:1px solid rgba(170, 170, 170, 0.5);
  border-left: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  background-color: transparent;
  margin-left: 68.7%;
  position: relative;
  bottom:44px;

}
#search-btn:hover {
  background-color: rgb(29, 206, 29);
}
*****************************

/*badge link content*/

.badge--link--content{
    width: 1060px;
    height: auto;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 30px;
    margin-bottom: 48px;
    margin-right: 61px;
    margin-left: 61px;
    position: relative;
    top: 40PX;
    text-align: center;

}
 
.badge--link--title {
    padding-bottom: 5px;
    font-family:DDG_Proximova ;
    line-height: 5px;
    text-align: center;
    font-size: 32px;
    position: relative;
    bottom: 30PX;
    margin-right: 50px;
    
    
}

.badge--link--subtitle{
    font-size: 17px;
    font-family:DDG_Proximova ;
    position: relative;
    bottom: 40px;
    line-height: 30px;
    text-align: center;
    margin-right: 50px;

}

.badge--link--bullet {
    align-items: center;
    display: flex;
    line-height: 28px;
    margin-right: 40px;
    list-style-type: none;
    position: relative;
    margin-bottom: 70px;
    right: 25px;
    bottom: 60px;
    font-weight: bold;
}

ol {
    flex-direction: row;
    list-style-type: none;
    display: flex;
    position: relative;
    margin: auto;
    justify-content: center;
}

.add--button--google{
  position: relative;
  margin: auto;
  justify-content: center;
  display: flex;
  margin-top: -40px;
  bottom: 70px;
  margin-right: 60px;
}

.add--button--google1{
  width: 203px;
  height: 38px;
  background-color:rgb(103, 143, 255) ;
  border-bottom-color:rgb(103, 143, 255) ;
  border-radius: 10px;
  font-size: 14.4px;
  font-family:DDG_ProximaNova ;
  text-decoration-color:white ;
color: whitesmoke;
line-height: 23px;
}

.rated--stars {
margin-top: 16px;

margin-right: 65px;
font-size: 12px;
  font-family:DDG_ProximaNova ;
  bottom: 77px;
  position: relative;
}

.badge-link__rating {
  position: relative;
  margin: auto;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-family:DDG_ProximaNova ;
}
